<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="<%=htmlWebpackPlugin.options.meta.description%>">
    <meta name="theme-color" content="<%=htmlWebpackPlugin.options.meta.themeColor%>">
    <meta name="application-name" content="<%=htmlWebpackPlugin.options.meta.applicationName%>">
    <meta name="mobile-web-app-capable" content="<%=htmlWebpackPlugin.options.meta.mobileWebAppCapable%>">
    <meta name="apple-mobile-web-app-capable" content="<%=htmlWebpackPlugin.options.meta.appleMobileWebAppCapable%>">
    <meta name="apple-mobile-web-app-status-bar-style" content="<%=htmlWebpackPlugin.options.meta.appleMobileWebAppStatusBarStyle%>">
    <meta name="apple-mobile-web-app-title" name="<%=htmlWebpackPlugin.options.meta.appleMobileWebAppTitle%>">

    <title><%=htmlWebpackPlugin.options.title%></title>
</head>
<body>
    <!-- <main id="<%= htmlWebpackPlugin.appMountId%>"></div> -->
</body>
</html>
